<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{{ page.name }}</title>
</head>
<body>
<header class="header">
    <nav class="main">
        <a class="logo" href="{%url 'index' %}">Директор IT-проектов</a>
    </nav>
</header>
<div class="side bar">
    <a href="{%url 'demand' %}">
        <div class="component">
            <p>Востребованность</p>
        </div>
    </a>
    <a href="{%url 'index' %}">
        <div class="component component">
            <p>Главная</p>
        </div>
    </a>
    <a href="{%url 'skills' %}">
        <div class="component">
            <p>Навыки</p>
        </div>
    </a>
    <a href="{%url 'last_vacancies'%}">
        <div class="component component">
            <p>Последние вакансии</p>
        </div>
    </a>
</div>
<main>
    <section class="geograph">
        <img src="{{ page.graphs.all.0.image.url }}" alt="" class="stolb">
        <table class="table">
            <tr>
                <th>Город</th>
                <th>Уровень зарплат</th>
            </tr>
            <tr>
                <td>Киев</td>
                <td>155942</td>
            </tr>
            <tr>
                <td>Москва</td>
                <td>109916</td>
            </tr>
            <tr>
                <td>Санкт-Петербург</td>
                <td>95863</td>
            </tr>
            <tr>
                <td>Минск</td>
                <td>89762</td>
            </tr>
            <tr>
                <td>Новосибирск</td>
                <td>86183</td>
            </tr>
            <tr>
                <td>Екатеринбург</td>
                <td>82063</td>
            </tr>
            <tr>
                <td>Нижний Новгород</td>
                <td>76677</td>
            </tr>
            <tr>
                <td>Казань</td>
                <td>75695</td>
            </tr>
            <tr>
                <td>Самара</td>
                <td>69896</td>
            </tr>
            <tr>
                <td>Томск</td>
                <td>69552</td>
            </tr>
        </table>
    </section>

    <section class="geograph">
        <img src="{{ page.graphs.all.1.image.url }}" alt="" class="diagramma">
        <table>
            <tr>
                <th>Город</th>
                <th>Доля вакансий</th>
            </tr>
            <tr>
                <td>Москва</td>
                <td>25.73%</td>
            </tr>
            <tr>
                <td>Санкт-Петербург</td>
                <td>11.31%</td>
            </tr>
            <tr>
                <td>Новосибирск</td>
                <td>3.24%</td>
            </tr>
            <tr>
                <td>Минск</td>
                <td>2.83%</td>
            </tr>
            <tr>
                <td>Екатеринбург</td>
                <td>2.39%</td>
            </tr>
            <tr>
                <td>Алматы</td>
                <td>2.25%</td>
            </tr>
            <tr>
                <td>Казань</td>
                <td>2.22%</td>
            </tr>
            <tr>
                <td>Краснодар</td>
                <td>2.05%</td>
            </tr>
            <tr>
                <td>Ростов-на-Дону</td>
                <td>1.86%</td>
            </tr>
            <tr>
                <td>Нижний Новгород</td>
                <td>1.86%</td>
            </tr>
        </table>
    </section>
</main>
<footer class="footer">
    <p class="name">Крысин Никита Александрович</p>
    <p class="group">РИ - 210940</p>
</footer>
</body>
</html>