<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Менеджер IT-проекта</title>
</head>
<body>
<header class="main-header">
    <nav class="main">
        <a class="logo" href="{%url 'index' %}">Директор IT-проектов</a>
    </nav>
</header>
<div class="side bar">
    <a href="{%url 'demand' %}">
        <div class="component">
            <p>Востребованность</p>
        </div>
    </a>
    <a href="{%url 'geography' %}">
        <div class="component component">
            <p>География</p>
        </div>
    </a>
    <a href="{%url 'skills' %}">
        <div class="component">
            <p>Навыки</p>
        </div>
    </a>
    <a href="{%url 'last_vacancies'%}">
        <div class="component component">
            <p>Последние вакансии</p>
        </div>
    </a>
</div>
<main class="body-main">
    <section class="main-content">
        <h1 class="main">Директор IT-проектов</h1>
        <p class="intro">
            Руководитель ИТ-проектов – сотрудник, целью которого является сопровождение конкретного проекта от планирования до реализации. Критерием успеха здесь является соответствие результата поставленным задачам.
            Суть проекта может заключаться в разработке новой информационной системы или во внедрении уже существующей системы в компании. В один период времени руководитель ИТ-проектов может заниматься одним крупным проектом или несколькими небольшими. В любом случае его труд является разносторонним, ему приходится все время переключаться с одной задачи на другую и одновременно удерживать перед глазами общую картину.
        </p>
    </section>
    <section class="charge">
        <h1>Обязанности</h1>
        <p>Руководство проектом в ИТ-сфере включает в себя следующие должностные обязанности:</p>
        <ul class="charge">
            <li class="list-item">Определение сроков завершения различных этапов работы;</li>
            <li class="list-item">Разработка плана действий;</li>
            <li class="list-item">Расчет финансовых затрат на закупку оборудования, оплату труда, иные необходимые цели;</li>
            <li class="list-item">Ежедневное управление персоналом, участвующим в работе;</li>
            <li class="list-item">Контроль качества;</li>
            <li class="list-item">Определение возможных рисков и их минимизация;</li>
            <li class="list-item">Найм субподрядчиков для исполнения отдельных функций;</li>
            <li class="list-item">Своевременное внесение изменений в планы и сроки, если того требует ситуация;</li>
        </ul>
    </section>
    <section class="skills">
        <h1>Квалификационные требования</h1>
        <p>Руководитель проектов в сфере ИТ должен быть знаком с основами системного анализа, разбираться в современном программном обеспечении и информационных системах, знать основы бюджетирования и уметь руководить людьми. Он должен свободно ориентироваться в стандартах и лучших практиках по управлению проектами. Руководитель ИТ-проектов должен понимать суть бизнес-процессов компаний, в которых внедряется информационная система.
            Этот сотрудник обычно имеет высшее образование в сфере информационных технологий, а также проходит курсы повышения квалификации в области проектного менеджмента. Дорасти до этой должности можно, постепенно продвигаясь по карьерной лестнице в IT-отделе одной организации. Чтобы занять этот пост с нуля, обычно требуется опыт работы на аналогичной позиции. Причем нового работодателя будет интересовать не только формальный стаж работы, но и примеры успешно реализованных задач. Свои успехи лучше заранее описать в резюме.</p>>
    </section>
</main>
<footer class="footer">
    <p class="name">Крысин Никита Александрович</p>
    <p class="group">РИ - 210940</p>
</footer>
</body>
</html>